<link rel="stylesheet" href="css/cssplanes.css" />

<!-- Main -->
<section class="wrapper style1">
  <div class="container">
    <div class="row gtr-200">
      <div class="col-3 col-12-narrower">
        <div id="sidebar1">

          <section>

            <footer>
              <div class="container">
                <div class="panel pricing-table">

                  <div class="pricing-plan">
                    <img src="images/iconoplanes.png" alt="" class="pricing-img">
                    <h3 class="pricing-header">Plan Basico Gratis</h3>
                    <ul class="pricing-features">
                      <li class="pricing-features-item">Adaptación de información</li>
                      <li class="pricing-features-item">Dominio gratis por 1 año</li>
                      <li class="pricing-features-item">Incluido por compra de plantilla</li>
                    </ul>
                  </div>
                  <hr>
                </div>
              </div>
            </footer>

          </section>
        </div>
      </div>

      <div class="col-6 col-12-narrower imp-narrower">
        <div id="content">
          <!-- Content -->

          <section class="col-6 col-12-narrower">
            <h2>¡Escribenos mediante tu email!</h2>
            <form>
              <div class="row gtr-50">
                <div class="col-6 col-12-mobilep">
                  <input type="text" name="name" id="name" placeholder="Nombre" />
                </div>
                <div class="col-6 col-12-mobilep">
                  <input type="email" name="email" id="email" placeholder="Email" />
                </div>
                <div class="col-12">
                  <textarea name="message" id="message" placeholder="Mensaje" rows="5"></textarea>
                </div>
                <div class="col-12">
                  <ul class="actions" style="text-align: center;">
                    <li><input type="submit" class="button alt" value="Enviar" /></li>
                  </ul>
                </div>
              </div>
            </form>
          </section>

        </div>
      </div>
      <div class="col-3 col-12-narrower">
        <div id="sidebar2">

          <!-- Sidebar 2 -->
          <section>
            <h3>Plantillas más vendidas</h3>
            <a href="/axton">
              <h3>Axton</h3>
            </a>
            <span class="image featured"><img src="images/mini-axton.jpg" alt="" /></span><br>
            <a href="/teknix">
              <h3>Teknix</h3>
            </a>
            <span class="image featured"><img src="images/mini-teknix.jpg" alt="" /></span>

          </section>

        </div>
      </div>
    </div>
  </div>
</section>