<!-- Banner -->
        <section id="banner">
          <header>
             <em><h2><a href="#">Las mejores plantillas de paginas web para adaptarlas a su empresa. 100% Responsives</a></h2></em>
            <a href="/plantillas" class="button">Ver Más</a>
          </header>
        </section>

      <!-- Highlights -->
        <section class="wrapper style1">
          <div class="container">
            <div class="row gtr-200">
              <section class="col-4 col-12-narrower">
                <div class="box highlight">
                  <i class="icon solid major fa-paper-plane"></i>
                  <h3>Confiabilidad</h3>
                  <p>Nuestro equipo en general cuenta con una amplia capacidad de creatividad, conocimiento y experiencia en el desarrollo de plantillas webs.</p>
                </div>
              </section>
              <section class="col-4 col-12-narrower">
                <div class="box highlight">
                  <i class="icon solid major fa-pencil-alt"></i>
                  <h3>Adaptación</h3>
                  <p>Ofrecemos mediante nuestros planes, adaptar la información su negocio de manera optima a nuestras plantillas de páginas web que adquiera.</p>
                </div>
              </section>
              <section class="col-4 col-12-narrower">
                <div class="box highlight">
                  <i class="icon solid major fa-wrench"></i>
                  <h3>Soporte</h3>
                  <p>Garantia en nuestros planes de ajustes, actualizaciones y implementaciones de nuevas funciones por nuestro equipo de TemplatesPTY.</p>
                </div>
              </section>
            </div>
          </div>
        </section>

      <!-- Gigantic Heading -->
        <section class="wrapper style2">
          <div class="container">
            <header class="major">
              <h2>Nuevas Plantillas</h2>
              <p>Para sectores de ventas y servicios segun su descripción, facil adaptación.</p>
            </header>
          </div>
        </section>

      <!-- Posts -->
        <section class="wrapper style1">
          <div class="container">
            <div class="row">
              <section class="col-6 col-12-narrower">
                <div class="box post">
                  <a href="/teknix" class="image left"><img src="images/mini-teknix.jpg" alt="" /></a>
                  <div class="inner">
                    <a href="/teknix"><h3>Teknix</h3></a>
                    <p><em> Descripción: </em></p>
                    <p>Tipo: Servicio.
                    Especializada para brindar servicios de mantenimiento o reparación de equipos electrónicos, con detalles de las certificaciones que cuenta este local o certificaciones con la que cuenta su equipo técnico.</p>
                  </div>
                </div>
              </section>
              <section class="col-6 col-12-narrower">
                <div class="box post">
                  <a href="/paintdrops" class="image left"><img src="images/mini-paintdrops.jpg" alt="" /></a>
                  <div class="inner">
                    <a href="/paintdrops"><h3>Paintdrops</h3></a>
                    <p><em> Descripción:</em></p>
                    <p>Tipo: Servicio. 
                    Diseño creado y adaptado para un entorno al arte, con combinaciones de colores neutrales y características para el arte. 100% Responsive, facil adaptación.</p>
                  </div>
                </div>
              </section>
            </div>
            <div class="row">
              <section class="col-6 col-12-narrower">
                <div class="box post">
                  <a href="/bookz" class="image left"><img src="images/mini-bookz.jpg" alt="" /></a>
                  <div class="inner">
                    <a href="/bookz"><h3>Bookz</h3></a>
                    <p><em> Descripción:</em></p>
                    <p>Tipo: Ventas.
                    Entorno creado y adaptado a las personas por amor a las lecturas, está creada para detallar nuevas novelas o libros, así como también las más vistas.</p>
                  </div>
                </div>
              </section>
              <section class="col-6 col-12-narrower">
                <div class="box post">
                  <a href="/axton" class="image left"><img src="images/mini-axton.jpg" alt="" /></a>
                  <div class="inner">
                    <a href="/axton"><h3>Axton</h3></a>
                    <p><em> Descripción: </em></p>
                    <p>Tipo: Ventas.
                    Axton es una plantilla HTML responsiva maravillosamente impresionante para Personal Portfolio Online!</p>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </section>

      <!-- CTA -->
        <section id="cta" class="wrapper style3">
          <div class="container">
            <header>
              <h2>¿Estás listo para continuar tu búsqueda?</h2>
              <a href="plantillas.html" class="button">Ver más plantillas</a>
            </header>
          </div>
        </section>