<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div id="content">

							<!-- Content -->

								<article>
								<div class="col-md-6 col-lg-4 simpleCart_shelfItem">
									<header>
										<h2 class="item_name">Bookz</h2>
										
									</header>

									<span class="image featured"><img class="item_image" src="images/bookz.jpg" alt="" />
										<section id="ban">
										     <p class="item_price" id>$40.00</p>
						                      <a class="button verde item_add" href="javascript:;" onclick="location.href='/plan';">Comprar ahora</a>
									    </section>										
									</span><br>
									<p>Demo de plantilla seleccionada.</p>
									<center>


<video controls>
  <source src="videos/bookz_video.mp4" type="video/mp4">
  Tu navegador no implementa el elemento <code>video</code>.
</video>
</center>
									<h3>Descripción</h3>
									<p>Tipo: Ventas,
                    entorno creado y adaptado a las personas por amor a las lecturas, está creada para detallar nuevas novelas o libros, así como también las más vistas. La plantilla es fácilmente personalizable y ampliable con documentación detallada. Nuestro equipo de soporte rápido y amable estará encantado de ayudarle con cualquier necesidad con la plantilla.</p>
								</div>
								</article>

						</div>
					</div>
				</section>
