<!-- Main -->
<section class="wrapper style1">
	<div class="container">
		<div class="row gtr-200">
			<div class="col-8 col-12-narrower">
				<div id="content">

					<!-- Content -->
					<article>
						<header>
							<h2>Formulario de compra</h2>
						</header>

						<form method="post" action="/add">
							<h3><b>Nombre:</b></h3>
							<input type="text" name="nombre" required=""><br>
							<h3><b>Apellido:</b></h3>
							<input type="text" name="apellido" required=""><br>
							<h3><b>Cedula:</b></h3>
							<input type="text" name="cedula" required=""><br>
							<h3><b>Correo Electronico:</b></h3>
							<input type="email" name="email" required=""><br>
							<h3><b>Empresa:</b></h3>
							<input type="text" name="empresa" required=""><br>
							<br>
							<center>
								<div id="paypal-button-container"></div>
								<div id="fnlzr"></div>
							</center>
						</form>



					</article>

				</div>
			</div>
			<div class="col-4 col-12-narrower">
				<div id="sidebar">

					<!-- Sidebar -->
					<section>
						<h3>Resumen de la Orden</h3>
						<div class="bolsa">
							<div class="simpleCart_items"></div>
							<div class="opciones">
								<h3>Total: <span class="simpleCart_total">$0.00</span></h3>
							</div>
						</div>
					</section>
					<section>
						<h3>Facilidades de pago</h3>
						<ul class="links">
							<li><a href="#">Paypal</a></li>
							<li><a href="#">Banca En Linea</a></li>
							<li><a href="#">Yappy</a></li>
							<li><a href="#">Tarjetas de credito</a></li>
						</ul>
						<footer>
							<a href="#"></a>
						</footer>
					</section>


					<section>
						<h3>Novedades</h3>
						<p align="justify">
							En la actualidad, tener una página web nos brinda credibilidad ante los clientes potenciales
							y nos ayuda a ser visibles en los buscadores, de ahí la importancia de crear una estructura
							en la que el contenido resulte relevante.
						</p>
						<footer>
							<a href="#"></a>
						</footer>
					</section>

				</div>
			</div>
		</div>
	</div>
</section>