<link rel="stylesheet" href="css/cssplanes.css" />
<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div id="content">

							<!-- Content -->

								<article>
									<header>

											<h2>Planes disponibles</h2>
											<p>Selecciona uno de los planes para seguir con la compra</p>
										</header>

									<!-- Planes -->
										  <div class="container">
										    <div class="panel pricing-table">
			 								<div class="col-md-6 col-lg-4 simpleCart_shelfItem">
										<section id="blck">
        <h2 class="item_name">Basico</h2>
        <img class="item_image" src="images/iconoplanes.png" alt="Basico"/>
        <div class="item_price">$0.00</div>
									    </section>	
										      <div class="pricing-plan">
										        <img src="images/iconoplanes.png" alt="" class="pricing-img">
										        <h3 class="pricing-header">Basico</h3>
										        <ul class="pricing-features">
										          <li class="pricing-features-item">Adaptación de información</li>
										          <li class="pricing-features-item">Dominio gratis por 1 año</li>
										          <li class="pricing-features-item">Almacenamiento 500MB</li>
										          <li class="pricing-features-item">Ancho de banda 2GB</li>

										        </ul>
										        <span class="pricing-price">Gratis</span>
										        <a href="javascript:;" onclick="location.href='/comprar';" class="pricing-button item_add">Seleccionar</a>
										      </div>
										     </div>
											 <div class="col-md-6 col-lg-4 simpleCart_shelfItem">
										<section id="blck">
        <h2 class="item_name">Premium</h2>
        <img class="item_image" src="images/iconoplanes.png" alt="Premium"/>
        <div class="item_price">$25.00</div>
									    </section>	
										      <div class="pricing-plan">
										        <img src="images/iconoplanes.png" alt="" class="pricing-img">
										        <h3 class="pricing-header">Premium</h3>
										        <ul class="pricing-features">
										        	<li class="pricing-features-item">Adaptación de información</li>
										            <li class="pricing-features-item">Dominio gratis por 2 años</li>
										            <li class="pricing-features-item">Almacenamiento 100GB SSD</li>
										            <li class="pricing-features-item">Ancho de banda 25GB</li>
										            <li class="pricing-features-item">Certificado SSL gratis</li>
										             <li class="pricing-features-item">Privacidad del dominio + proteccion</li>
										        </ul>
										        <span class="pricing-price">$25/Mes*</span>
										        <a href="javascript:;" onclick="location.href='/comprar';" class="pricing-button is-featured item_add">Seleccionar</a>
										      </div>
										      </div>
											  <div class="col-md-6 col-lg-4 simpleCart_shelfItem">
										<section id="blck">
        <h2 class="item_name">Full VIP</h2>
        <img class="item_image" src="images/iconoplanes.png" alt="Full VIP"/>
        <div class="item_price">$40.00</div>
									    </section>	
										      <div class="pricing-plan">
										        <img src="images/iconoplanes.png" alt="" class="pricing-img">
										        <h3 class="pricing-header">Full VIP</h3>
										        <ul class="pricing-features">
										          <li class="pricing-features-item">Adaptación de información</li>
										            <li class="pricing-features-item">Dominio gratis por 3 años</li>
										            <li class="pricing-features-item">Almacenamiento 250GB SSD</li>
										            <li class="pricing-features-item">Ancho de banda ILIMITADO</li>
													<li class="pricing-features-item">Certificado SSL gratis</li>
													<li class="pricing-features-item">Privacidad del dominio + proteccion</li>
													<li class="pricing-features-item">Alto rendimiento</li>
													<li class="pricing-features-item">IP dedicada</li>
													<li class="pricing-features-item">Copias de seguridad</li>
													 
										        </ul>
										        <span class="pricing-price">$40/Mes*</span>
										        <a href="javascript:;" onclick="location.href='/comprar';" class="pricing-button item_add">Seleccionar</a>
										      </div>
										      </div>
										    </div>
										  </div><br><br>
								</article>

						</div>
					</div>
				</section>