<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div id="content">

							<!-- Content -->

								<article>
								<div class="col-md-6 col-lg-4 simpleCart_shelfItem">
									<header>
										<h2 class="item_name">Teknix</h2>
									</header>

									<span class="image featured"><img class="item_image" src="images/teknix.jpg" alt="" />
										<section id="ban">
										     <p class="item_price" id>$20.00</p>
						                      <a class="button verde item_add" href="javascript:;" onclick="location.href='/plan';">Comprar ahora</a>
									    </section>									
									</span><br>

									<h2>Demo de plantilla seleccionada.</h2>
									<center>
<video controls>
  <source src="videos/teknix_video.mp4" type="video/mp4">
  Tu navegador no implementa el elemento <code>video</code>.
</video><hr>
</center>
									<h3>Descripción</h3>
									<p>Tipo: Servicio,
                    especializada para brindar servicios de mantenimiento o reparación de equipos electrónicos, con detalles de las certificaciones que cuenta este local o certificaciones con la que cuenta su equipo técnico. La plantilla es fácilmente personalizable y ampliable con documentación detallada. Nuestro equipo de soporte rápido y amable estará encantado de ayudarle con cualquier necesidad con la plantilla.</p>
								</div>
								</article>

						</div>
					</div>
				</section>
